.board-container {
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0079bf;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  padding: 0;
  width: 150px;
  height: 100px;
  :hover {
    opacity: 0.8;
  };
}


.boards-list {
    background-color: #ccc;
    display: flex;

}